<form [formGroup]="elementForm" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title></h2>
  <mat-dialog-content>
    <p>Add new Item</p>
    <p>Item Name:</p>
    <mat-form-field>
      <mat-label>Name </mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Type </mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of types | keyvalue" [value]="type.value">
          {{ type.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div formArrayName="fields">
      <!-- @switch (value) { @case (types.Type1) { @for (field of type1Fields; track
      field.name) {
      <input matInput [value]="field.value" [formControlName]="field.name" />
      } } @case (types.Type2) { @for (field of type2Fields; track field.name) {
      <input matInput [value]="field.value" [formControlName]="field.name" />
      } } @case (types.Type3) { @for (field of type3Fields; track field.name) {
      <input matInput [value]="field.value" [formControlName]="field.name" />
      } } } -->
      <div
        *ngFor="
          let item of elementForm.controls.fields.controls | keyvalue;
          let i = index
        "
      >
        <mat-form-field
          *ngIf="elementForm.controls.fields.get(item.key)!.disabled === false"
        >
          <mat-label>{{ item.key }} </mat-label>
          <input
            matInput
            type="text"
            [placeholder]="item.key"
            [formControlName]="item.key"
          />
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="test()">TEST</button>

    <button mat-flat-button (click)="onNoClick()">No Thanks</button>
    <button
      mat-button
      type="submit"
      [disabled]="elementForm.status === 'INVALID'"
    >
      Submit
    </button>
  </mat-dialog-actions>
</form>
